
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu-Bold.ttf');
}



@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}




@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf'),
         url('../fonts/Ubuntu-Light.ttf'),
         url('../fonts/Ubuntu-Medium.ttf'),
         url('../fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf'),
         url('../fonts/Montserrat-Light.ttf'),
         url('../fonts/Montserrat-Bold.ttf');
}
